<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVMyM6VpqdZOJmFBfQSr3NY2chmdrGsv4</string>
	<key>GCM_SENDER_ID</key>
	<string>669034374306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.targafy</string>
	<key>PROJECT_ID</key>
	<string>targafy-288b2</string>
	<key>STORAGE_BUCKET</key>
	<string>targafy-288b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669034374306:ios:c70d5a85bdc981ec05a3fb</string>
</dict>
</plist>